@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>408-355-6000</span>
    </p>
    <p>
        <span class="label">Alternate:</span>
        <span>0120 244 5144</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@infogain.com">Support@infogain.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@infogain.com">Marketing@infogain.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@infogain.com">General@infogain.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        485 Alberto Way<br />
        Los Gatos, CA 95032 USA
    </p>
</section>
